        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol,
        ul {
            list-style: none;
        }

        blockquote,
        q {
            quotes: none;
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /*EIND RESET*/

        body {
            background-color: #e6e6e9;
            font-family: NS Sans, Segoe UI, Myriad, Verdana, sans-serif;
            color: #003082;
            max-height: 100vh;
            box-sizing: border-box;
        }

        header {
            display: flex;
            top: 0;
            font-size: 1em;
            background-color: white;
            position: absolute;
            box-shadow: 0 .2em 0 rgba(150, 150, 150, .3);
            padding: .5em;
            z-index: 2;
            width: 40%;
        }

        header img {
            align-self: baseline;
            float: left;
            width: 30%;
            height: 30%;
            margin: auto auto auto 0;
        }

        div {
            background-image: url(http://orig04.deviantart.net/16af/f/2010/172/f/1/reading_in_the_train_by_yukipi.jpg);
            background-position: 20% 40%;
            height: 10em;
            width: 100%;
            background-size: cover;
            text-align: center;
        }

        div section {
            float: right;
            background-color: blue;
            background-color: rgba(0, 48, 130, 0.5);
            color: white;
            width: 35vw;
            box-shadow: none;
            margin-top: 1em;
        }

        div section p,
        div section h5 {
            margin: 1em;
        }

        .hide {
            display: none;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        main > section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        section section {
            min-height: 10em;
            border: 1px solid grey;
            border: 1px solid rgba(150, 150, 150, .3);
            box-shadow: 0 .2em 0em rgba(150, 150, 150, .3);
            background-color: white;
            text-align: center;
            flex-basis: 10em;
            flex-grow: 1;
            margin: .2em;
            transition: all .5s;
        }

        h1 {
            font-size: 2em;
            align-self: baseline;
            margin-right: auto;
        }

        h2 {
            font-size: 1.5em;
            align-self: flex-start;
            min-width: 100%;
            margin: 0 0 1em 0;
        }

        h3,
        h4 {
            font-size: 1.1em;
        }

        div section img {
            float: right;
            width: 5em;
            height: 5em;
            margin-right: 1.5em;
        }

        section img {
            margin-top: -1em;
            width: 8em;
            height: 8em;
            user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        section section:hover {
            transform: translate(0px, -5px);
            -webkit-box-shadow: 0px 5px 13px 0px rgba(50, 50, 50, 0.57);
            -moz-box-shadow: 0px 5px 13px 0px rgba(50, 50, 50, 0.57);
            box-shadow: 0px 5px 13px 0px rgba(50, 50, 50, 0.57);
        }

        @media only screen and (max-width: 30em) {
            div {
                background-position: 50% 60%;
            }
            div section {
                width: 50vw;
                font-size: .8em;
            }
        }

        @media only screen and (max-width: 37.5em) {
            img.bigicon {
                float: none;
            }
            h2 {
                margin-top: 1em;
            }
        }

        @media only screen and (min-width: 37.5em) {
            img.bigicon {
                margin-top: 1em;
                float: left;
            }
            h4 {
                margin-top: 3.7em;
                margin-right: 2em;
            }
            main {
                margin-top: 1em;
            }
            main > section {
                width: 40em;
                max-width: 100%;
                border: 1px solid rgba(150, 150, 150, .3);
                box-shadow: 0 .2em 0em rgba(150, 150, 150, .3);
                background-color: white;
                margin: .5em 0;
                padding: 1rem 2rem;
            }
            main > section:first-child {
                background-color: #ffc917;
                min-height: 22em;
            }
        }

        @media only screen and (min-width: 62.5em) {
            div {
                position: absolute;
                background-image: none;
            }
            div section {
                position: absolute;
                margin-left: 45em;
                width: 20%;
                text-align: left;
                background-color: #003082;
                color: white;
                z-index: 1;
                margin-top: 1em;
            }
            .hide {
                display: block;
                font-size: .8em;
            }
            header {
                max-width: 20vw;
                position: relative;
                margin-left: 2em;
            }
            main {
                margin: 1.5em 0 .5em 2em;
                align-items: flex-start;
                text-align: left;
            }
            section section {
                min-height: 0;
                padding-bottom: .5em;
            }
            section img {
                margin-top: -1.5em;
            }
            body {
                background-image: url(http://orig04.deviantart.net/16af/f/2010/172/f/1/reading_in_the_train_by_yukipi.jpg);
                background-repeat: no-repeat;
                background-position: 0% 60%;
            }
        }
